@font-face {
    font-family: "JF Flat Regular";
    src: url('../font/JF-Flat-regular.eot');
    src: url('../font/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('../font/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('../font/JF-Flat-regular.woff') format('woff'),
    url('../font/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.bg-1{
    background: url('../img/images/bg1.jpg');
    background-size: 100% 100%;
}
body.bg-1{
    position: relative;
    overflow-x: hidden;
}
img.pos-a1, img.pos-a2{
    width:300px;
}
.home-logo{
    position: absolute;
    top:17%;
    left:15%;
    text-align: right;
}
img.pos-a2{
    margin-left:75px;
    margin-bottom:5px;
}
.home-logo a{
    color: #a5842e;
    font-size: 20px;
    font-weight: 900;
    display: block;
}
header .logo img{
    max-width:50px;
}
header.stricky-fixed .logo img{
    max-height:50px;
}
.single-law-box{
    padding:0;
}
.single-law-box a{
    padding: 20px 20px;
    display: block;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    font-family: 'fontAwesome';

}
.owl-carousel .owl-nav .owl-prev:before{
content: "\f053";

}
.owl-carousel .owl-nav .owl-next:after{
content: "\f054";

}
.owl-theme .owl-nav [class*=owl-]:hover{
    background: #a4832d;
}
h2.h2-style{
    color:#a4832d;
}
.single-featured{
    border:0
}
.single-featured {
    border: 0;
    min-height: 200px;
}
.single-featured-icon img{
    width:40px;
}
.footer-logo img{
    max-width:96px;
}
.contact-right-img img{
    max-height: 100px;
}
.contact-right-img{
    padding-top: 30px;
}
.contact-right{
    padding:0 15px;
}
.gmnoprint img{
    max-height: 30px !important;
}
.Vision-img{
    max-width: 300px;

}
.Vision-content{
    padding: 20px 0;
}
/* start portfolio page */
/*start portfolio section*/
.portfolio ul {
    margin-bottom: 30px;
}
.portfolio .filt ul li {
    padding: 7px 15px;
    border: 1px solid #ccc;
    margin: 4px;
    color: #888;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.filter.active {
    color: #333 !important;
    box-shadow: 0 1px 10px -3px #000;
}
.portfolio .col-sm-3 {
    padding: 0;
}
.portfolio .col-sm-3 img {
    height: 210px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
#container .mix {
    display: none;
}

.portfolio .port-overly::before {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}
.portfolio .port-style:hover .port-overly::before {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.mixit-icon {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    right: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}
.portfolio .mixit-icon ul {
    margin: 0;
}
.portfolio .port-style:hover .mixit-icon {
    top: 20%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
.mixit-icon i {
    width: 55px;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 18px;
    color: #fff;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.mixit-icon i:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.mixit-icon a {
    text-decoration: none;
    border: none;
}
.mixit-box-text p {
    color: #fff;
    margin: 0;
    font-family: 'JF Flat Regular',Sans-Serif;
}
.mixit-box-text {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.mixit-box-text {
    background-color: rgba(255, 255, 255, 0.15);
    width: 87%;
    margin: auto;
    line-height: 27px;
    font-size: 17px;
    padding-bottom: 2px;
}
.portfolio .port-style:hover .mixit-box-text {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.portfolio{
    padding: 70px 0;
}
/*End portfolio section*/
.lang a{
    font-family: 'JF Flat Regular',Sans-Serif;
}
/* End portfolio page */
@media only screen and (max-width : 768px) {
    .bg-1{
        background-size: 120% 120%;
    }
}
@media only screen and (max-width : 480px) {
    .bg-1{
        background-size: 120% 120%;
    }
    img.pos-a1, img.pos-a2{
        width: 192px;
    }
    .home-logo{
        left: 3%;
    }
}
body{
    direction: rtl ;
}
.single-law-box{
    border-right: 7px solid transparent;
    border-left: 0;
}
.single-law-box:hover, .single-law-box.active {
    border-right-color: #a48430;
}
.fa-angle-right:before {
    content: "\f104";
}
.single-law-box a i{
    float: left;
}
.owl-carousel{
    direction: ltr;
}
.single-featured .alignleft{
    float: right;
    margin-left: 15px;
    margin-right: 0;
}
.widget-get-intouch ul li{
    padding-right: 35px;
    padding-left: 0;
}
.widget-get-intouch ul li.phone{
    background-position: 99% 2px;
}
.widget-get-intouch ul li.location{
    background-position: 99% 6px;
}
.widget-get-intouch ul li.envelop{
    background-position: 100% 6px;
}
.quick-links ul.left-quick-links{
    float: right;
    margin-right:0;
    margin-left: 30px;
}
.quick-links ul li i.fa-angle-right:before{
    content: "\f104";
}
.quick-links ul li i{
    padding-right: 0;
    padding-left: 12px;
}
.widget-social-links a i.mysocial_style{
    margin: 0 0px 0px 9px;
    padding-left:0 ;
    text-align: center;
}
.contact-form form button[type="submit"] .fa{
    border-right: 1px solid #424242;
    padding-right: 15px;
    margin-right: 20px;
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}
.fa-arrow-right:before {
    content: "\f060";
}
.contact-form form button[type="submit"]{
    padding: 0px 23px 0px 17px;
}